.div{
    display: flex;
    flex-direction: column;
}

.divTwo{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.upperLabelStyle{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.155em;
    text-align: left;
    color: #404040;
    text-transform: uppercase;
}

.inputStyle{
    height: 44px;
    border: 1px solid #00000021;
    border-radius: 6px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.125em;
    text-align: left;
    margin-top: 10px;
    padding: 0px 10px;
}

.divTwo > .inputStyle{
    width: 30%;
    flex-wrap: wrap;
}

.inputStyle::placeholder{
    color: #BBB9BC;
}

/* Chrome, Safari, Edge, Opera */
.inputStyle::-webkit-outer-spin-button,
.inputStyle::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
} */

.errorLabelStyle{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #F81212;
    margin-top: 2px;
    height: 12px;
}